.jumbotron {
    background-color: #FFE0FE;
    color: black;
    margin-top: 50px;
}
.jumbotron h1 {
    font-size: 4rem;
    font-weight: 700;
}
/*
.info-home {
    margin-bottom: 1rem;
    border-bottom: 2px solid gray;
    padding-bottom: 0.5rem;
}
*/
.btn-icon {
    padding-left: 5px;
}

#myfoot {
    background-color: #D9AC5B;
    color: black;
    padding: 1.5rem;
    margin-top: 1rem;
}
#myfoot a, #myfoot a:hover{
    color: black;
    margin-bottom: 1rem;
}

.footer-address-icon {
    padding-right: 10px;
}

.card-hotel {
    flex: 1 250px;
    margin-top: 0.3125rem;
    /* background-color: #e3e3e3;
    border: 2px solid gray;
    border-radius: 2%; */
}

.btn-reserva {
    width: 100%;
    border-radius: 0;
}

.myTabPane {
    padding-top: 0.75rem;
}

#img-banner {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.btn-collapse {
    margin-bottom: 0.625rem;
}