.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
}

.jumbotron h1 {
  font-size: 4rem;
  font-weight: 700;
}

.btn-green {
  background-color: #64D782;
  color: white;
}

.btn-icon {
  padding-left: 5px;
}

#myfoot {
  background-color: #fffa19;
  color: black;
  padding: 1.5rem;
  margin-top: 10px;
  margin-bottom: 0px;
}

#myfoot a, #myfoot a:hover {
  color: black;
  margin-bottom: 1rem;
}

.footer-address-icon {
  padding-right: 10px;
}

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0;
}

.myTabPane {
  padding-top: 0.75rem;
}

#img-banner {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.btn-collapse {
  margin-bottom: 0.625rem;
}
/*# sourceMappingURL=styles.css.map */