$yellow: #fffa19;
$green: #64D782;
$red: #EE5853;


@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 20px);
}

.jumbotron h1 {
    font-size: 4rem;
    font-weight: 700;
}

.btn-green {
    background-color: $green;
    color: white;
}

.btn-icon {
    padding-left: 5px;
}

#myfoot {
    background-color: $yellow;
    color: black;
    padding: 1.5rem;
    @include margenes(10px, 0px);
}

#myfoot a, #myfoot a:hover{
    color: black;
    margin-bottom: 1rem;
}

.footer-address-icon {
    padding-right: 10px;
}

.card-hotel {
    flex: 1 250px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0;
}

.myTabPane {
    padding-top: 0.75rem;
}

#img-banner {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.btn-collapse {
    margin-bottom: 0.625rem;
}